# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

WEB_PORT=3000
NEXT_PUBLIC_PREFIX=
NEXT_PUBLIC_APP_URL=http://localhost:$WEB_PORT$NEXT_PUBLIC_PREFIX
NEXT_PUBLIC_APP_DOMAIN=localhost

# The callback URL for discords Oauth is localhost:3000/login/discord/callback
# Obviously replace localhost and port if you are using this in a production environment.

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# The callback URL for google Oauth is localhost:3000/login/google/callback
# Obviously replace localhost and port if you are using this in a production environment.

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Stripe
# Stripe Secret Key found at https://dashboard.stripe.com/test/apikeys
STRIPE_API_KEY=
# Stripe Webhook Secret found at https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local
# This need to replaced with the webhook secret for your webhook endpoint in production
STRIPE_WEBHOOK_SECRET=
# Stripe Product and Price IDs for your created products 
# found at https://dashboard.stripe.com/test/products
STRIPE_PRO_MONTHLY_PLAN_ID=
